@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  color: white;
  background-color: rgb(70, 69, 69);
  font-family: 'Roboto', sans-serif;
}
