.auth__form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(81, 82, 81);
    gap: 20px;
    padding: 30px 40px;
    border-radius: 2%;
    animation: login-input-animation 5s infinite;
    h1 {
        font-size: 20px;
    }
}

.auth__form-input {
    width: 215px;
    border: 1px solid white;
    padding: 10px 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    &::placeholder {
        font-size: 15px;
    }
}

.auth__form-submit {
    width: 215px;
    border: 1px solid rgb(98, 133, 209);
    padding: 10px 10px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: .7s;
    &::placeholder {
        font-size: 15px;
    }
    &:hover {
        border: 1px solid rgb(126, 201, 65); 
    }
}

.auth__form-error {
    max-width: 215px;
    width: 100%;
    color: rgb(226, 57, 57);
    text-align: center;
}

.auth__form-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 102%;
    height: 102%;
    background-color:#686868;
    opacity: 0.85;
}


.auth__form-loader-spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.auth__form-loader-spinner::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 